__pycache__/
*.py[cod]
*.so

.Python
.venv/
env/
venv/
ENV/

build/
dist/
site/
*.egg-info/
.eggs/

.coverage
.coverage.*
.pytest_cache/
.mypy_cache/
.hypothesis/
.nox/
.tox/
htmlcov/

.idea/
.vscode/
.DS_Store
Thumbs.db
